*{
  margin: 0;
  padding: 0;
}
 .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 95vh;
  font: 300 1em 'Fira Sans', sans-serif;
}
button{
  
    background: none;
    border: 2px solid#ffa260;
    font: inherit;
    line-height: 1;
    margin: 0.7em;
    padding: 1em 2.5em;
    color: #ffa260;
}
.hover:hover {
  box-shadow: 0 0.5em 0.5em -0.4em yellow;
  transition:0.25s;
  transform: translateY(-0.40em);
  
}
button:hover{
 border-color: yellow;
  
}
div button:hover{
  color: white;
}

body{
  background-image: url("j.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}